
.contacto-container {
    display: flex;
    gap: 35px;
    justify-content: center; 
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

/* CARD GENERAL */
.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    flex: 1;
    width: 100%;
}

/* FORMULARIO */
.formulario {
    flex: 2;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-enviar-mensaje {
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid #eee;
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.card-enviar-mensaje h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #000;
}

.subtitulo-mensaje {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 18px;
}

.label-mensaje {
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.label-mensaje span {
    color: red;
}

.input-mensaje,
.textarea-mensaje {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    font-size: 0.95rem;
    outline: none;
    transition: border-color 0.3s;
}

.input-mensaje:focus,
.textarea-mensaje:focus {
    border-color: #d50032;
}

.textarea-mensaje {
    resize: none;
    min-height: 80px;
}

.btn-enviar-mensaje {
    display: block;
    width: 100%;
    background: #d50032;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: all 0.5s ease;
}

.btn-enviar-mensaje:hover {
    background: #b4002b;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

/* LADO DERECHO */
.side-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    min-width: 280px;
    height: 100%; 
}

.card-contacto-directo,
.card-redes-sociales {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    flex: 1;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
 
}

.card-contacto-directo h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.icono-contacto-directo {
    font-size: 1.2rem;
    color: #d6001c;
    margin-top: 3px;
}

.titulo-info {
    font-weight: 600;
    margin-bottom: 2px;
}

.a-contacto-directo {
    color: #357edd;
    text-decoration: none;
}

.a-contacto-directo:hover {
    text-decoration: underline;
}

.btn-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00a63e;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 0;
    font-weight: 600;
    margin-top: 15px;
    font-size: 0.95rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
    height: 35px;
}

.btn-whatsapp:hover {
    background: #1ebe57;
    text-decoration: none;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.icono-btn-contacto-directo {
    margin-right: 8px;
}

/* REDES SOCIALES */
.card-redes-sociales h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.redes-botones {
    display: flex;
    gap: 10px;
    margin-top: 45px;
}

.btn-red-social {
    flex: 1;
    background: #f9f9f9;
    border: 1px solid #d6001c;
    color: #d6001c;
    border-radius: 8px;
    padding: 12px 0;
    font-weight: 500;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-red-social:hover {
    background: #d6001c;
    color: white;
}

.icono-red {
    font-size: 1.3rem;
}


@media (max-width: 684px) {
    .redes-botones {
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    .contacto-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .side-content {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
}
