
.modelosMoto-container {
    position: relative;
    height: 45vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain; 
  
  }


  .back-button {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 20;               
    background: white;
    color: black;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  

  .back-button:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }
  
  .contenedorFiltrosMotociletas{
    border-bottom: 3px solid #e5e5e5;
  }

  .btn__mostrarMasModelos{
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    width: 200px;
    color: white;
    background-color: #e60012;
    border: solid 2px  #e60012;
    transition: all 0.5s ease;
    transform: scale(1);
  }
  
  .btn__mostrarMasModelos:hover{
  background-color:  white;
  color: #e60012;
  border: solid 2px #e60012;
  
  }