.card-tratamiento {
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    max-width: 80%;
   
    
  }
  
  .card-tratamiento .card-title {
    font-size: 1.2rem;
  }
  
  .card-tratamiento .card-text p {
    margin-bottom: 1rem;
    text-align: justify;
  }
  
  @media (max-width: 768px) {
    .card-tratamiento {
      max-width: 100%;
    }
}
@media (max-width: 1000px) {
  .card-tratamiento {
    max-width: 100%;
  }
}