
/* Ajuste general */
.repuestos-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  /* Títulos */
  .repuestos-container h2 {
    /* font-size: 2rem; */
    font-weight: 800;
    color: black;
    font-size: clamp(1.7rem, 4vw, 2rem);
  }
  .p-repuesto{
    /* font-size: 22px; */
    font-size: clamp(1rem, 3.8vw,1.5rem);
    max-width: 750px;

  }
  .contenido--p--repuesto{
    align-items: center;
    justify-items: center;
    justify-content: center;

  }
  .repuestos-container h3 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  /* Botones tabs */
  .repuestos-tabs .btn {
    min-width: 200px;
    font-weight: 600;
    transition: all 0.5s ease;
    border: solid 2px #d80027;
    color: #d80027;

  }
  .span--btn--repuesto{
    margin-left: 0px;
    margin-right: 15px;
  }
  .repuestos-tabs .btn:hover {
    transform: translateY(-2px);
    background-color: #d80027;
    color: white;
  }

  /* Estado activo */
  .repuestos-tabs .btn-danger {
    background-color: #d80027;
    box-shadow: 0 4px 12px rgba(220, 53, 69, 0.3);
  }
  .repuestos-tabs {
    flex-direction: row;
  }
  @media (max-width: 650px) {
    .repuestos-tabs {
      flex-direction: column;
      align-items: stretch; /* hace que ocupen todo el ancho */
    }
  }
  .contenido--card--servicio{
   align-items: center;
   justify-items: center;
  }
  /* Card */
  .servicio-card {
    border-radius: 16px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
     transition: all 0.5s ease;
    max-width: 900px;
  }

  .servicio-card:hover {
    /* transform: scale(1.01); */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  }

  /* Icono círculo */
  .icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #d80027;
    color: #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }

  /* Imagen almacén */
  .almacen-img {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /* Botones región */
  .region-btn {
    min-width: 180px;
    transition: all 0.5s ease;
  }

  .region-btn:hover {
    transform: translateY(-2px);
  }

  /* Card info almacén */
  .info-card {
    background-color: #f8f9fa;
    padding: 1rem 1.2rem;
    border-radius: 10px;
    border: 1px solid #e9ecef;
  }

  .texto--titulo--card--servicio{
    font-size: clamp(0.8rem, 4vw, 1.7rem) !important;
    color: black !important;
  }
  .texto--descripcion--card--servicio{
    font-size: clamp(0.8rem, 3vw, 1.1rem) !important;
    color: rgb(87, 87, 87) !important;
   text-align: justify;
  }
  .contenido--linea--servicio{
    max-width: 400px !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color:  #f9fafb !important;
  }
  .titulo--servicio--tecnico{
    font-size:18px ;
    font-weight: bold;
    color: black;
  }
  .icono--titulo--servicio{
    color: #d80027 !important;
    position: relative;
    right: 10px;
    top:-1px
  }

  .numero--servicio--tecnico{
    color: #d80027 !important;
    font-size:25px ;
    font-weight: bold;
  }
  .btn--servicio--tecnico--{
    background-color: #d80027;
    width: 300px;
    font-weight: 700;
    transform: scale(1);
    transition: all 0.5s ease;
  }
  .btn--servicio--tecnico--:hover{
    background-color: #d80027;
    border-color:  #d80027;
    transform: scale(1.1);

  }

  /* nueva card*/
  .servicioTecnico {
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    background: #fff;
    margin: 20px auto;
    transition: all 0.5s ease;
  }

  .servicioTecnico .card-img-left {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .servicioTecnico .card-body {
    padding: 2rem;
  }

  .servicioTecnico .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 1rem;
  }

  .servicioTecnico .card-text {
    /* font-size: 1rem; */
    font-size: clamp(0.8rem, 3vw, 1.1rem) !important;
    color: #555;
    line-height: 1.6;
    text-align: justify;
  }




  /*
  card selecciona tu region*/

  .servicioAlmacen-container {
    background: #f9f9fb;
    border-radius: 16px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .servicioAlmacen {
    border-radius: 12px;
    border: 2px solid #e5e5e5;
    transition: all 0.3s ease-in-out;
  }

  .servicioAlmacen:hover {
    transform: translateY(-4px);
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    border-color: #c30023;;
  }

  .servicioAlmacen h5 {
    color: #111;
    margin-bottom: 1rem;
  }

  .servicioAlmacen p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 0.8rem;
  }

  .servicioAlmacen .icon {
    color: #d90429;
    margin-right: 6px;
  }
.btn-presionado-region{
    transition: all 0.5s ease;
    background-color: #c30023;
    color:white;
}
.btn-no-presionado-region{
    transition: all 0.5s ease;
    color: #c30023;
    border-color:#c30023;
}

.btn--almacen{
    width: 250px;
    transition: all 0.5s ease;
}

.btn--almacen:hover{
    transform: translateY(-2px);
    background-color:#c30023;
    color: white;
}

@media (max-width: 768px) {
  .btn--servicio--tecnico--{
    width: 100%;
  }
  .servicio-card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

  }

  .repuestos-tabs .btn {
    min-width: 150px;
    font-weight: 600;
    transition: all 0.5s ease;
    border: solid 2px #d80027;
    color: #d80027;

  }

}