.row__CatalogoMoto {
  padding: 20px;
  /* background-color: black; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.Titlulo__CatalogoMoto {
  /* color: white; */
  font-weight: bold;
  font-size: 50px;
  font-family: "Bebas Neue", Sans-serif;
}

.filtros__CatalogoMoto {
  padding: 1rem;
  background-color: #f9f9f9;
  margin: 1rem 0;
  border-radius: 10px;
}

.filtros__form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.filtros__form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.btn__mostrarMas{
  font-family: "Bebas Neue", Sans-serif;
  font-size: 25px;
  font-weight: 100;
  border-radius: 30px;
  width: 300px;
}