.contenedor__imagen__conocenos {
    margin-top: 50px;
    color: rgb(0, 0, 0);
    padding: 20px; 
    background: white;
    padding-bottom: 50px;
}

.titulo-conocenos {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 800;
    line-height: 1.2;
    max-width: 1078px;
    font-family: Good Timing, serif;
    color: #0a1f44;
  }
  .subtitulo-conocenos{
    padding-top: 13px;
    font-size: clamp(1.1rem, 3vw, 1.4rem);
    color: #575a5f;
    font-family: Poppins, sans-serif;
  }
  .titulo-conocenos .conocenos {
    color: #d80027; 
  }

  .conocenos-linea {
    width: 100px;
    height: 5px;
    background-color: #d80027; 
    border-radius: 2px;
    margin-bottom: 12px;
    margin-top: 14px;
  }
  .titulo--card--conocenos{
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
    font-family: Good Timing, serif;
    color: #fff;
  }
  .card-conocenos {
    max-width: 900px;       
    margin: 2rem auto;   
    padding: 2rem;      
    background-color: #fff; 
    border-radius: 12px;  
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    text-align: center;     
    line-height: 1.6;      
    color: #2c3e50;       
    font-size: 1.25rem;    
    margin-bottom: 70px;
  }
  .conocenos-mision-linea {
    width: 100px;
    height: 4px;
    background-color: #d80027; 
    border-radius: 2px;
    margin-bottom: 12px;
  }
  .subtitulo--conocenos{
    font-size: 1.3rem;   
    color: #a5abb1;   
    padding-top: 13px;
  }
  /*historia*/
  .historia {
    background: #fff;
    border: 2px solid #e60023; 
    border-radius: 12px;
    padding: 30px;
    max-width: 900px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.6;
    color: #374151; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    text-align: left;
  }
  
  .historia p {
    margin-bottom: 16px;
  }
  
  .historia strong {
    font-weight: 700;
    color: #111827; 
  }
  

  .historia-destacado{
    background-color:#fcf1f4; 
    border-left: 4px solid #d80027; 
    padding: 12px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
  }
  .historia-texto-destacado {
    font-weight: 700;
    color: #d80027;
    font-size: 19px;
    margin-top: 10px;
  
  }
  