.card-AeguradoraM {
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    border: 2px solid #f0eeee;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    text-align: center; 
    max-width: 400px;
  }
  
  .card-AeguradoraM:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
   
  }
  .icono-card-AeguradoraM {
    width: 70px;
    height: 70px;
    margin: 0 auto 16px auto;
    border-radius: 50%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #d60000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
  }
  .card-mantenimiento-destacado2 {
    background-color: #fde8ea; /* rojo muy suave */
    padding: 12px 16px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
  }
  
  .card-AeguradoraM-texto {
    color: #606d79;
    font-size: 15px;
    margin: 0 0 4px 0;
    font-family: Good Timing, Montserrat, sans-serif;
  }
  .titulo-card-AeguradoraM {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 8px;
    color: #0a1f44;
    font-family: Good Timing, Montserrat, sans-serif;
    padding-top: 10px;
  }
  
  .descripcion-card-AeguradoraM {
    color: #606d79;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 16px;
    font-family: Good Timing, Montserrat, sans-serif;
  }