.aseguradora-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent; /* sin fondo */
    padding: 20px;
  }
  
  .aseguradora-icono {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .aseguradora-icono img {
    max-width: 60px;
    max-height: 60px;
  }
  
  .aseguradora-titulo {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .aseguradora-linea {
    width: 50px;
    height: 3px;
    background-color: #d80027; /* rojo */
    border-radius: 2px;
    margin-bottom: 12px;
  }
  
  .aseguradora-descripcion {
    font-size: 17px;
    color: #6c757d;
    max-width: 360px;
  }
  .barraSpacio{
    width: 100px;
    height: 4px;
    background-color: #d80027; /* rojo */
    border-radius: 2px;
    margin-bottom: 12px;
  }