.card-sedes {
    background: #ffffff;
    border-radius: 20px;
    padding: 28px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 600px;
    font-family: Good Timing, Montserrat, sans-serif;
    transition: all 0.3s ease;
  }
  .card-sedes:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
  .sedes-titulo {
    font-size: 20px;
    color: #364153;
    margin-bottom: 20px;

  }
  
  .sedes-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1px;
  }
  
  .sedes-icono {
    font-size: 22px;
    color: #D93332; 
    margin-right: 12px;
    margin-top: 3px;
  }
  
  .sedes-label {
    font-size: 14px;
    color:#364153;
    margin-bottom: 1px;
  }
  
  .sedes-text {
    font-size: 16px;
    color: #002857;
  }
  
  .sedes-btn {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #0A2A59;
    padding: 12px 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
    height: 40px;
  }
  
  .sedes-btn:hover {
    background: #0d326d;
  }
  
  .sedes-btn-icono {
    position: relative;
    bottom: 2px;
  }
  