.custom-card-aliado {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background: #fff;
    padding: 15px;
    text-align: center;
    transition: all 0.5s ease,box-shadow 0.5s ease;
  
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    height: 100%;
    
  }
  
  .custom-card-aliado:hover {
    box-shadow: 0 10px 18px rgba(71, 71, 71, 0.22);

    transform: translateY(-10px);
  }
  
  .card-logo-aliado {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
  }
  
  .card-logo-aliado img {
    max-width: 90%;
    height: 50px;
    object-fit: contain;
  }
  
  .card-title-aliado {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Good Timing, Montserrat, sans-serif;
  
  }
  
  .card-description-aliado {
    font-size: 15px;
    color: #555;
    min-height: 40px;
    flex-grow: 1;
    font-family: Good Timing, Montserrat, sans-serif;
  
  }
  @media (max-width: 600px) {
    .card-logo-aliado img {
      max-width: 60%;
      height: 50px;
    }
  }
  @media (max-width: 1200px) {
    .card-logo-aliado img {
      max-width: 80%;
      height: 50px;
    }
  }