.cotizacion-card {
    max-width: 900px;
    margin: 100px auto;
    background: #fff !important;
    padding: 30px;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
  }
  
  .cotizacion-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cotizacion-row {
    display: flex;
    gap: 20px;
  }
  
  .cotizacion-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .cotizacion-group label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
  }
  
  .cotizacion-group input,
  .cotizacion-group textarea {
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
    outline: none;
    transition: border 0.2s;
  }
  
  .cotizacion-group input:focus,
  .cotizacion-group textarea:focus {
    border-color: #7c7c7c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .cotizacion-group textarea {
    resize: none;
    min-height: 80px;
  }
  
  .cotizacion-btn {
    background: #e20e17;
    border: none;
    color: #fff;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background 0.2s ease;
  }
  
  .cotizacion-btn:hover {
    background: #d32f2f;
  }
  
  .cotizacion-note {
    text-align: center;
    font-size: 16px;
    color: #555;
   
    padding-left: 100px;
    padding-right: 100px;
  }
  @media (max-width: 768px) {
    .cotizacion-row {
      flex-direction: column;  /* pasa de fila a columna */
    }
  
    .cotizacion-group {
      width: 100%;             /* ocupa todo el ancho */
    }

    .cotizacion-note {

        padding-left: 0px;
        padding-right: 0px;
      }
  }

  .inconoUser{
    color: #d32f2f;
    font-size: 20px;
  }

  .inconoMSJ{
    color: #ffffff;
    font-size: 20px;
  }

