.carousel__Imagen {
  object-fit: contain;
  width: 100%;
  height: auto;
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100% 100%; 
  width: 4rem;  
  height: 4rem; 
  filter: brightness(0) invert(1); 
}
.carousel-control-prev {
    left: -3rem; /* empuja el ícono más a la izquierda */
/* }
  
  .carousel-control-next {
    right: -3rem; /* empuja el ícono más a la derecha */
