
.promo-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    max-width: 100%;
    margin: auto;
    cursor: pointer;
    height: 100%;              
    display: flex;
    flex-direction: column;     
  }
  

  .promo-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }

  .promo-card-image {
    background:#002857; 
    text-align: center;
    padding: 0px;
    overflow: hidden;
  }
  
  .promo-card-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
  }
  
  .promo-card:hover .promo-card-image img {
    transform: scale(1.1);
  }
  

  .promo-card-body {
    padding: 32px 20px 20px 20px;
    text-align: left;
    flex: 1;                   
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
   
  }
  
  .promo-card-subtitle {
    display: block;
    font-size: 1rem;
    color: #002857;
    text-transform: uppercase;
    font-family: Good Timing, Montserrat, sans-serif;
  }
  
  .promo-card-title {
    font-size: 0.9rem;
    margin-top: 13px;
    margin-bottom: 25px;
    color: #4a5565;
    font-family: Good Timing, Montserrat, sans-serif;
  }
  

  .promo-card-button {
    width: 100%;
    padding: 12px;
    background: #e60000;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: background 0.5s ease;
  }
  
  .promo-card-button:hover {
    background:#002857;
  }
  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    overflow: hidden;
  }
  
  .modal-content {
    position: relative;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  

  .image-wrapper {
    position: relative;
    display: inline-block; 
  }
  

  .image-wrapper img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain;
    border-radius: 12px;
    display: block;
  }
  

  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    font-size: 1.3rem;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.5s ease, color 0.5s ease;
    font-weight: bold;
  }
  
  .modal-close:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  
  .categoriaPromocion {
    display: inline-block;     
    background: #002857;
    color: #fff;
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 10px;
    line-height: 1;          
    white-space: nowrap;  
    margin-bottom: 15px;

  }