.custom-btn {
  background: #fff;
  color: #1e2a39;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border: 2px solid #0a1f44;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 1rem;
  transform: scale(1); 
}

/* Hover para botones inactivos */
.custom-btn:hover {
  background:#0a1f44;
  border: 2px solid #0a1f44;
  color: white;
  transform: scale(1)
}

/* Botón activo */
.custom-btn.active {
  background: #0a1f44;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.1); /* crece un poco */
  border: 2px solid #0a1f44;
}

/* Hover para botón activo */
.custom-btn.active:hover {
  background:  #0a1f44;
  border: 2px solid #0a1f44;
}
