.custom-btn-promocion {
  background: #fff;
  color: #d80027;
  padding: 0.5rem 1.5rem;
  border: solid 1px #d80027;
  border-radius: 7px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 1rem;
  transform: scale(1); /* tamaño normal */
}

/* Hover para botones inactivos */
.custom-btn-promocion:hover {
  /* background:#d80027; */
  border: solid 1px #d80027;
  color: #d80027;
  transform: scale(1.1);
}

/* Botón activo */
.custom-btn-promocion.active {
  background: #d80027;
  color: #fff;
  box-shadow: 0 4px 10px rgba(106, 106, 106, 0.3);
  transform: scale(1.1); /* crece un poco */
  border: solid 1px #d80027;
}

/* Hover para botón activo */
.custom-btn-promocion.active:hover {
  background: #d80027;
  border: solid 1px #d80027;
}
