.section-header-Lite {
  margin: 0 auto;

  }
  
  .section-title-Lite {
    font-size: clamp(1.7rem, 4vw, 2.2rem);
    margin-bottom: 0.5rem;
    color: #0a1f44;
    font-weight: 700;
    font-family: Good Timing, serif;
  }
  
  .section-subtitle-Lite {
    font-size: clamp(1.3rem, 2vw, 1.4rem);
    color: #4a5568;
    line-height: 1.6;
    margin-bottom: 50px;
  }
  .btn-contactar-ahora {
    margin-top: 20px;
    background: #d80027;
    color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    font-size: 1.05rem;
    border-radius: 10px;
    width: 40%;
    transition: all 0.5s ease;
  }
  
  .btn-contactar-ahora:hover {
    background:#d80027;
    transform: scale(1.05);
   
  }

  .video-container {
    position: relative;
    width: 100%; 
    margin: 0 auto; 
    padding-bottom: 45%; 
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }